.q-icon-bar .q-icon-bar-holder {
    margin: 0;
    padding: 0;
    spacing: 0;
}

.q-icon-bar .q-icon-bar-holder .q-icon {
    padding: 4px;
    margin: 0 3px;
}

.q-icon-bar .q-icon-bar-holder .q-icon:active {
    border-image: none;
    border: none;
}

.qpopup-slider {
    height: 2em;
    min-width: 15em;
    -gradient-start: #b05b79;
    -gradient-end: #7DB9E8;

    -slider-height: 0.75em;
    -slider-border-color: rgba(0, 0, 0, 0.5);
    -slider-active-border-color: rgba(0, 0, 0, 0.5);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.73em;
}

.qpopup-slider-label {
    min-width: 50px;
    text-align: right;
}

.qpopup-slider-info {
    min-width: 50px;
    text-align: left;
    font-size: 0.9em;
}

.q-text-bold {
    font-weight: bold;
    /*background: #b05b79;*/
}

.q-text-medium {
    font-weight: normal;
}

.q-text-bigger {
    font-size: 1.15em;
}

.q-text-smaller {
    font-size: 0.9em;
}

.q-sun-bar {
    /*background: #500b28;*/
    padding: 0;
    margin: 0;
    spacing: 0;
}

.q-sun-bar-city {
    /*background: rgba(176, 91, 121, 0.6);*/
    font-weight: bold;
    min-width: 50px;
}

.q-sun-bar-left {

}

.q-sun-bar-right {
    /*background-color: rgba(255, 153, 0, 0.58);*/
    spacing: 0.8em;
    padding: 0;
    margin: 0;
}

.q-sun-bar-item {
    margin: 0;
    spacing: 0.4em;
    border-radius: 2px;
}

.q-sun-bar-item:active {
    /*background-color: rgba(2, 2, 3, 0.9);*/
}

.hide {
    height: 40px;
}